{% extends 'base.html' %}


{% block content%}

</br></br></br>


<div class="row">

<div class="col s3">
    <!-- Grey navigation panel -->
    <div class="left-align">
      <ul class="collection">
        {% for channel, sopurl in context.items() %}
          {% if "channelurl" == channel or "channelName" == channel %}
          <!-- skip -->
          {% else %}
              <a href="/change-station/{{ channel }}" class="collection-item">{{ channel }}</a>
          {% endif %}
        {% endfor %}
        <a href="http://www.digi24.ro/live/digi24" target="_blank" class="collection-item">Digi24</a>
      </ul>
    </div>
  </div>

  <div class="col s9">
    <p>{{ context.channelName }}</p>
    <object style="overflow-y: scroll;position: fixed;" id="SopPlayer" name = "SopPlayer" classid="clsid:8FEFF364-6A5F-4966-A917-A3AC28411659" height="400" width="500">
    	<param name="AutoStart" value="1" />
    	<param name="SopAddress" value="{{ context.channelurl }}" />
    	<param name="ChannelName" value="{{ context.channelName }}" />
    </object>
  </div>
</div>


<embed class="margin-bottom100" src="https://www.europafm.ro/embed/" width="320" height="100" autostart="0" align="center" border="0" transparentatstart="0" animationatstart="1" showcontrols="true" showaudiocontrols="1" showpositioncontrols="0" showtracker="0" autosize="0" showstatusbar="1" displaysize="false" />

{% endblock %}
